@model UserXMovies
@{
    ViewData["Title"] = "Movies";
}


<h1>Welcome @Model.User.Name here the list of your movies</h1>
<p class="lead">
    If you want to add a new movie, click <a asp-action="AddMovie" asp-route-email="@Model.User.Email">here</a>.
</p>



<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Average Rate</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    <img src="@item.Cover.GetPreSignedURL(DateTime.Now.AddHours(1))" 
                         width="80" 
                         height="80">
                 
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @(Math.Round(item.Ratings.Sum(r => r.Rate)/(double)item.Ratings.Count,2))
                </td>
                <td>
                    <a asp-action="MovieDetails" asp-route-email="@Model.User.Email"
                            asp-route-movieId="@item.Id" >Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

