@model UserXMovies
@{
    ViewData["Title"] = "Movies";
}


<h1>Welcome @Model.User.Name Here the list of your movies</h1>
<p class="lead">
    If you want to add a new movie, choose a bucket below and click send afterwards.
</p>
<div>
    <a asp-action="AddMovie" asp-route-email="@Model.User.Email">Add Movies</a>
   

</div>

<div>


</div>


<table class="table">
    <thead>
        <tr>
            <th>Id
            <th>
            <th>Title
            <th>
            <th>#
            <th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    <button asp-action="Details" asp-route-id="@item.Id" value="Details" formmethod="get" /> |
                </td>
            </tr>
        }
    </tbody>
</table>

